In [1]:
import pandas as pd

In [56]:
t = '''1 95 140
2 90 130
3 85 110
4 75 90
5 70 85
1 80 100
2 65 80
3 60 75
4 45 55
5 40 50
1 55 70
2 50 65
3 45 55
4 25 30
5 20 25
1 40 50
2 35 45
3 30 40
4 20 25
5 15 20
1 30 40
2 15 20
3 12 15
4 10 12
5 8 10
'''

In [57]:
df_pr_sap_t = pd.DataFrame(columns=['a'], data=t.split('\n'))

In [58]:
df_pr_sap_t

           a
0   1 95 140
1   2 90 130
2   3 85 110
3    4 75 90
4    5 70 85
5   1 80 100
6    2 65 80
7    3 60 75
8    4 45 55
9    5 40 50
10   1 55 70
11   2 50 65
12   3 45 55
13   4 25 30
14   5 20 25
15   1 40 50
16   2 35 45
17   3 30 40
18   4 20 25
19   5 15 20
20   1 30 40
21   2 15 20
22   3 12 15
23   4 10 12
24    5 8 10
25

In [59]:
df_pr_sap_t = df_pr_sap_t.iloc[:-1].copy(deep=True)

In [60]:
df_pr_sap_t['Группа чистоты'] = df_pr_sap_t.a.apply(lambda x: x.split()[0])

In [61]:
df_pr_sap_t['До 0,09'] = df_pr_sap_t.a.apply(lambda x: x.split()[1])

In [62]:
df_pr_sap_t['0.10-0,24'] = df_pr_sap_t.a.apply(lambda x: x.split()[2])

In [63]:
df_pr_sap_t.drop(columns=['a'])

   Группа чистоты До 0,09 0.10-0,24
0               1      95       140
1               2      90       130
2               3      85       110
3               4      75        90
4               5      70        85
5               1      80       100
6               2      65        80
7               3      60        75
8               4      45        55
9               5      40        50
10              1      55        70
11              2      50        65
12              3      45        55
13              4      25        30
14              5      20        25
15              1      40        50
16              2      35        45
17              3      30        40
18              4      20        25
19              5      15        20
20              1      30        40
21              2      15        20
22              3      12        15
23              4      10        12
24              5       8        10

In [55]:
#df_pr_sap_t.index = df_pr_sap_t['Группа чистоты']

In [64]:
df_pr_sap_t

           a Группа чистоты До 0,09 0.10-0,24
0   1 95 140              1      95       140
1   2 90 130              2      90       130
2   3 85 110              3      85       110
3    4 75 90              4      75        90
4    5 70 85              5      70        85
5   1 80 100              1      80       100
6    2 65 80              2      65        80
7    3 60 75              3      60        75
8    4 45 55              4      45        55
9    5 40 50              5      40        50
10   1 55 70              1      55        70
11   2 50 65              2      50        65
12   3 45 55              3      45        55
13   4 25 30              4      25        30
14   5 20 25              5      20        25
15   1 40 50              1      40        50
16   2 35 45              2      35        45
17   3 30 40              3      30        40
18   4 20 25              4      20        25
19   5 15 20              5      15        20
20   1 30 40              1      30        40
21   2 15 20              2      15        20
22   3 12 15              3      12        15
23   4 10 12              4      10        12
24    5 8 10              5       8        10

# a2

In [65]:
t2 = '''250
200
170
140
120
150
115
110
80
70
100
90
75
45
30
75
65
50
35
25
55
30
25
20
15
'''

In [66]:
df_pr_sap_t2 = pd.DataFrame(columns=['a2'], data=t2.split('\n'))

In [67]:
df_pr_sap_t2

     a2
0   250
1   200
2   170
3   140
4   120
5   150
6   115
7   110
8    80
9    70
10  100
11   90
12   75
13   45
14   30
15   75
16   65
17   50
18   35
19   25
20   55
21   30
22   25
23   20
24   15
25

In [68]:
df_pr_sap_t2 = df_pr_sap_t2.iloc[:-1].copy(deep=True)

In [75]:
df_pr_sap_t2.rename(columns={'a2':'0.25-0.49'}, inplace=True)

In [77]:
df_pr_sap_t = pd.concat([df_pr_sap_t,df_pr_sap_t2], axis=1).copy(deep=True)

In [78]:
df_pr_sap_t

           a Группа чистоты До 0,09 0.10-0,24 0.25-0.49
0   1 95 140              1      95       140       250
1   2 90 130              2      90       130       200
2   3 85 110              3      85       110       170
3    4 75 90              4      75        90       140
4    5 70 85              5      70        85       120
5   1 80 100              1      80       100       150
6    2 65 80              2      65        80       115
7    3 60 75              3      60        75       110
8    4 45 55              4      45        55        80
9    5 40 50              5      40        50        70
10   1 55 70              1      55        70       100
11   2 50 65              2      50        65        90
12   3 45 55              3      45        55        75
13   4 25 30              4      25        30        45
14   5 20 25              5      20        25        30
15   1 40 50              1      40        50        75
16   2 35 45              2      35        45        65
17   3 30 40              3      30        40        50
18   4 20 25              4      20        25        35
19   5 15 20              5      15        20        25
20   1 30 40              1      30        40        55
21   2 15 20              2      15        20        30
22   3 12 15              3      12        15        25
23   4 10 12              4      10        12        20
24    5 8 10              5       8        10        15

# a3

In [82]:
t3 = '''500
360
300
200
180
240
170
160
120
100
150
140
130
60
45
110
90
85
50
30
75
70
40
25
20 
'''

In [83]:
df_pr_sap_t3 = pd.DataFrame(columns=['a3'], data=t3.split('\n'))

In [84]:
df_pr_sap_t3

     a3
0   500
1   360
2   300
3   200
4   180
5   240
6   170
7   160
8   120
9   100
10  150
11  140
12  130
13   60
14   45
15  110
16   90
17   85
18   50
19   30
20   75
21   70
22   40
23   25
24  20
25

In [85]:
df_pr_sap_t3 = df_pr_sap_t3.iloc[:-1].copy(deep=True)

In [86]:
df_pr_sap_t3.rename(columns={'a3':'0.50-0.99'}, inplace=True)

In [87]:
pd.concat([df_pr_sap_t,df_pr_sap_t3], axis=1)

           a Группа чистоты До 0,09 0.10-0,24 0.25-0.49 0.50-0.99
0   1 95 140              1      95       140       250       500
1   2 90 130              2      90       130       200       360
2   3 85 110              3      85       110       170       300
3    4 75 90              4      75        90       140       200
4    5 70 85              5      70        85       120       180
5   1 80 100              1      80       100       150       240
6    2 65 80              2      65        80       115       170
7    3 60 75              3      60        75       110       160
8    4 45 55              4      45        55        80       120
9    5 40 50              5      40        50        70       100
10   1 55 70              1      55        70       100       150
11   2 50 65              2      50        65        90       140
12   3 45 55              3      45        55        75       130
13   4 25 30              4      25        30        45        60
14   5 20 25              5      20        25        30        45
15   1 40 50              1      40        50        75       110
16   2 35 45              2      35        45        65        90
17   3 30 40              3      30        40        50        85
18   4 20 25              4      20        25        35        50
19   5 15 20              5      15        20        25        30
20   1 30 40              1      30        40        55        75
21   2 15 20              2      15        20        30        70
22   3 12 15              3      12        15        25        40
23   4 10 12              4      10        12        20        25
24    5 8 10              5       8        10        15       20

In [88]:
df_pr_sap_t = _.copy(deep=True)

In [89]:
df_pr_sap_t

           a Группа чистоты До 0,09 0.10-0,24 0.25-0.49 0.50-0.99
0   1 95 140              1      95       140       250       500
1   2 90 130              2      90       130       200       360
2   3 85 110              3      85       110       170       300
3    4 75 90              4      75        90       140       200
4    5 70 85              5      70        85       120       180
5   1 80 100              1      80       100       150       240
6    2 65 80              2      65        80       115       170
7    3 60 75              3      60        75       110       160
8    4 45 55              4      45        55        80       120
9    5 40 50              5      40        50        70       100
10   1 55 70              1      55        70       100       150
11   2 50 65              2      50        65        90       140
12   3 45 55              3      45        55        75       130
13   4 25 30              4      25        30        45        60
14   5 20 25              5      20        25        30        45
15   1 40 50              1      40        50        75       110
16   2 35 45              2      35        45        65        90
17   3 30 40              3      30        40        50        85
18   4 20 25              4      20        25        35        50
19   5 15 20              5      15        20        25        30
20   1 30 40              1      30        40        55        75
21   2 15 20              2      15        20        30        70
22   3 12 15              3      12        15        25        40
23   4 10 12              4      10        12        20        25
24    5 8 10              5       8        10        15       20

# a4

In [90]:
t4 = '''1070 1500 1900 2950
900 1200 1500 2500
700 1000 1300 2100
400 650 960 1550
370 600 880 1300
540 850 1150 1800
350 600 870 1300
330 550 800 1200
250 430 630 900
200 380 570 840
300 500 750 1100
280 480 700 1000
260 450 650 950
130 280 430 680
100 220 320 500
220 400 600 870
180 350 530 800
160 320 480 770
110 230 330 550
80 190 260 400
160 300 460 730
140 280 390 650
100 250 360 600
70 150 200 300
50 120 150 180
'''

In [91]:
df_pr_sap_t4 = pd.DataFrame(columns=['a4'], data=t4.split('\n'))

In [94]:
df_pr_sap_t4

                     a4
0   1070 1500 1900 2950
1    900 1200 1500 2500
2    700 1000 1300 2100
3      400 650 960 1550
4      370 600 880 1300
5     540 850 1150 1800
6      350 600 870 1300
7      330 550 800 1200
8       250 430 630 900
9       200 380 570 840
10     300 500 750 1100
11     280 480 700 1000
12      260 450 650 950
13      130 280 430 680
14      100 220 320 500
15      220 400 600 870
16      180 350 530 800
17      160 320 480 770
18      110 230 330 550
19       80 190 260 400
20      160 300 460 730
21      140 280 390 650
22      100 250 360 600
23       70 150 200 300
24       50 120 150 180

In [93]:
df_pr_sap_t4 = df_pr_sap_t4.iloc[:-1].copy(deep=True)

In [ ]:
1,00-1,99
2,00-2,99
3,00-3,99
4,00-4,99

In [95]:
df_pr_sap_t4['1,00-1,99'] = df_pr_sap_t4.a4.apply(lambda x: x.split()[0])

In [97]:
df_pr_sap_t4['2,00-2,99'] = df_pr_sap_t4.a4.apply(lambda x: x.split()[1])

In [98]:
df_pr_sap_t4['3,00-3,99'] = df_pr_sap_t4.a4.apply(lambda x: x.split()[2])

In [99]:
df_pr_sap_t4['4,00-4,99'] = df_pr_sap_t4.a4.apply(lambda x: x.split()[3])

In [101]:
df_pr_sap_t4.drop(columns=['a4'], inplace=True)

In [55]:
#df_pr_sap_t.index = df_pr_sap_t['Группа чистоты']

In [102]:
df_pr_sap_t4

   1,00-1,99 2,00-2,99 3,00-3,99 4,00-4,99
0       1070      1500      1900      2950
1        900      1200      1500      2500
2        700      1000      1300      2100
3        400       650       960      1550
4        370       600       880      1300
5        540       850      1150      1800
6        350       600       870      1300
7        330       550       800      1200
8        250       430       630       900
9        200       380       570       840
10       300       500       750      1100
11       280       480       700      1000
12       260       450       650       950
13       130       280       430       680
14       100       220       320       500
15       220       400       600       870
16       180       350       530       800
17       160       320       480       770
18       110       230       330       550
19        80       190       260       400
20       160       300       460       730
21       140       280       390       650
22       100       250       360       600
23        70       150       200       300
24        50       120       150       180

In [105]:
pd.concat([df_pr_sap_t,df_pr_sap_t4], axis=1).drop(columns=['a'])

,Группа чистоты,"До 0,09","0.10-0,24",0.25-0.49,0.50-0.99,"1,00-1,99","2,00-2,99","3,00-3,99","4,00-4,99"
0,1,95,140,250,500,1070,1500,1900,2950
1,2,90,130,200,360,900,1200,1500,2500
2,3,85,110,170,300,700,1000,1300,2100
3,4,75,90,140,200,400,650,960,1550
4,5,70,85,120,180,370,600,880,1300
5,1,80,100,150,240,540,850,1150,1800
6,2,65,80,115,170,350,600,870,1300
7,3,60,75,110,160,330,550,800,1200
8,4,45,55,80,120,250,430,630,900
9,5,40,50,70,100,200,380,570,840
10,1,55,70,100,150,300,500,750,1100
11,2,50,65,90,140,280,480,700,1000
12,3,45,55,75,130,260,450,650,950
13,4,25,30,45,60,130,280,430,680
14,5,20,25,30,45,100,220,320,500
15,1,40,50,75,110,220,400,600,870
16,2,35,45,65,90,180,350,530,800
17,3,30,40,50,85,160,320,480,770
18,4,20,25,35,50,110,230,330,550
19,5,15,20,25,30,80,190,260,400
20,1,30,40,55,75,160,300,460,730
21,2,15,20,30,70,140,280,390,650
22,3,12,15,25,40,100,250,360,600
23,4,10,12,20,25,70,150,200,300
24,5,8,10,15,20,50,120,150,180

In [106]:
df_pr_sap_t = _.copy(deep=True)

In [107]:
df_pr_sap_t

,Группа чистоты,"До 0,09","0.10-0,24",0.25-0.49,0.50-0.99,"1,00-1,99","2,00-2,99","3,00-3,99","4,00-4,99"
0,1,95,140,250,500,1070,1500,1900,2950
1,2,90,130,200,360,900,1200,1500,2500
2,3,85,110,170,300,700,1000,1300,2100
3,4,75,90,140,200,400,650,960,1550
4,5,70,85,120,180,370,600,880,1300
5,1,80,100,150,240,540,850,1150,1800
6,2,65,80,115,170,350,600,870,1300
7,3,60,75,110,160,330,550,800,1200
8,4,45,55,80,120,250,430,630,900
9,5,40,50,70,100,200,380,570,840
10,1,55,70,100,150,300,500,750,1100
11,2,50,65,90,140,280,480,700,1000
12,3,45,55,75,130,260,450,650,950
13,4,25,30,45,60,130,280,430,680
14,5,20,25,30,45,100,220,320,500
15,1,40,50,75,110,220,400,600,870
16,2,35,45,65,90,180,350,530,800
17,3,30,40,50,85,160,320,480,770
18,4,20,25,35,50,110,230,330,550
19,5,15,20,25,30,80,190,260,400
20,1,30,40,55,75,160,300,460,730
21,2,15,20,30,70,140,280,390,650
22,3,12,15,25,40,100,250,360,600
23,4,10,12,20,25,70,150,200,300
24,5,8,10,15,20,50,120,150,180

In [2]:
_.to_excel('../ipynb/для прейск сапфир термич фац из пдф.xlsx')

AttributeError: 'str' object has no attribute 'to_excel'

In [3]:
tnat=[]

In [4]:
'''ЧИСТОТЫ
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5'''

'ЧИСТОТЫ\n1\n2\n3\n4\n5\n1\n2\n3\n4\n5\n1\n2\n3\n4\n5\n1\n2\n3\n4\n5\n1\n2\n3\n4\n5'

In [8]:
'''ДО 0,09
150
140
130
120
110
130
100
90
70
60
90
80
70
40
30
65
60
50
30
25
50
40
30
25
20'''

'ДО 0,09\n150\n140\n130\n120\n110\n130\n100\n90\n70\n60\n90\n80\n70\n40\n30\n65\n60\n50\n30\n25\n50\n40\n30\n25\n20'

In [12]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5']]

In [13]:
'''0,10-0,24
225
210
180
145
140
160
130
120
90
80
120
110
90
50
40
80
70
60
40
30
65
55
40
30
25'''

'0,10-0,24\n225\n210\n180\n145\n140\n160\n130\n120\n90\n80\n120\n110\n90\n50\n40\n80\n70\n60\n40\n30\n65\n55\n40\n30\n25'

In [14]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['0,10-0,24',
  '225',
  '210',
  '180',
  '145',
  '140',
  '160',
  '130',
  '120',
  '90',
  '80',
  '120',
  '110',
  '90',
  '50',
  '40',
  '80',
  '70',
  '60',
  '40',
  '30',
  '65',
  '55',
  '40',
  '30',
  '25']]

In [15]:
'''0,25-0,49
400
320
270
225
190
240
185
175
130
110
160
145
140
70
50
120
100
90
60
40
90
80
60
45
30'''

'0,25-0,49\n400\n320\n270\n225\n190\n240\n185\n175\n130\n110\n160\n145\n140\n70\n50\n120\n100\n90\n60\n40\n90\n80\n60\n45\n30'

In [16]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['0,10-0,24',
  '225',
  '210',
  '180',
  '145',
  '140',
  '160',
  '130',
  '120',
  '90',
  '80',
  '120',
  '110',
  '90',
  '50',
  '40',
  '80',
  '70',
  '60',
  '40',
  '30',
  '65',
  '55',
  '40',
  '30',
  '25'],
 ['0,25-0,49',
  '400',
  '320',
  '270',
  '225',
  '190',
  '240',
  '185',
  '175',
  '130',
  '110',
  '160',
  '145',
  '140',
  '70',
  '50',
  '120',
  '100',
  '90',
  '60',
  '40',
  '90',
  '80',
  '60',
  '45',
  '30']]

In [17]:
'''0,50-0,99
800
580
480
320
290
385
270
260
190
160
240
225
210
150
70
180
150
140
80
50
120
110
90
65
50'''

'0,50-0,99\n800\n580\n480\n320\n290\n385\n270\n260\n190\n160\n240\n225\n210\n150\n70\n180\n150\n140\n80\n50\n120\n110\n90\n65\n50'

In [18]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['0,10-0,24',
  '225',
  '210',
  '180',
  '145',
  '140',
  '160',
  '130',
  '120',
  '90',
  '80',
  '120',
  '110',
  '90',
  '50',
  '40',
  '80',
  '70',
  '60',
  '40',
  '30',
  '65',
  '55',
  '40',
  '30',
  '25'],
 ['0,25-0,49',
  '400',
  '320',
  '270',
  '225',
  '190',
  '240',
  '185',
  '175',
  '130',
  '110',
  '160',
  '145',
  '140',
  '70',
  '50',
  '120',
  '100',
  '90',
  '60',
  '40',
  '90',
  '80',
  '60',
  '45',
  '30'],
 ['0,50-0,99',
  '800',
  '580',
  '480',
  '320',
  '290',
  '385',
  '270',
  '260',
  '190',
  '160',
  '240',
  '225',
  '210',
  '150',
  '70',
  '180',
  '150',
  '140',
  '80',
  '50',
  '120',
  '110',
  '90',
  '65',
  '50']]

In [19]:
'''1,00-1,99
1950
1600
1250
700
600
1000
650
600
450
350
550
500
450
250
180
400
350
300
200
150
300
250
200
160
130'''

'1,00-1,99\n1950\n1600\n1250\n700\n600\n1000\n650\n600\n450\n350\n550\n500\n450\n250\n180\n400\n350\n300\n200\n150\n300\n250\n200\n160\n130'

In [20]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['0,10-0,24',
  '225',
  '210',
  '180',
  '145',
  '140',
  '160',
  '130',
  '120',
  '90',
  '80',
  '120',
  '110',
  '90',
  '50',
  '40',
  '80',
  '70',
  '60',
  '40',
  '30',
  '65',
  '55',
  '40',
  '30',
  '25'],
 ['0,25-0,49',
  '400',
  '320',
  '270',
  '225',
  '190',
  '240',
  '185',
  '175',
  '130',
  '110',
  '160',
  '145',
  '140',
  '70',
  '50',
  '120',
  '100',
  '90',
  '60',
  '40',
  '90',
  '80',
  '60',
  '45',
  '30'],
 ['0,50-0,99',
  '800',
  '580',
  '480',
  '320',
  '290',
  '385',
  '270',
  '260',
  '190',
  '160',
  '240',
  '225',
  '210',
  '150',
  '70',
  '180',
  '150',
  '140',
  '80',
  '50',
  '120',
  '110',
  '90',
  '65',
  '50'],
 ['1,00-1,99',
  '1950',
  '1600',
  '1250',
  '700',
  '600',
  '1000',
  '650',
  '600',
  '450',
  '350',
  '550',
  '500',
  '450',
  '250',
  '180',
  '400',
  '350',
  '300',
  '200',
  '150',
  '300',
  '250',
  '200',
  '160',
  '130']]

In [21]:
'''2,00-2,99
2700
2200
1800
1300
1100
1500
1100
950
750
650
900
850
750
550
400
750
650
550
400
350
550
500
450
300
200'''

'2,00-2,99\n2700\n2200\n1800\n1300\n1100\n1500\n1100\n950\n750\n650\n900\n850\n750\n550\n400\n750\n650\n550\n400\n350\n550\n500\n450\n300\n200'

In [22]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['0,10-0,24',
  '225',
  '210',
  '180',
  '145',
  '140',
  '160',
  '130',
  '120',
  '90',
  '80',
  '120',
  '110',
  '90',
  '50',
  '40',
  '80',
  '70',
  '60',
  '40',
  '30',
  '65',
  '55',
  '40',
  '30',
  '25'],
 ['0,25-0,49',
  '400',
  '320',
  '270',
  '225',
  '190',
  '240',
  '185',
  '175',
  '130',
  '110',
  '160',
  '145',
  '140',
  '70',
  '50',
  '120',
  '100',
  '90',
  '60',
  '40',
  '90',
  '80',
  '60',
  '45',
  '30'],
 ['0,50-0,99',
  '800',
  '580',
  '480',
  '320',
  '290',
  '385',
  '270',
  '260',
  '190',
  '160',
  '240',
  '225',
  '210',
  '150',
  '70',
  '180',
  '150',
  '140',
  '80',
  '50',
  '120',
  '110',
  '90',
  '65',
  '50'],
 ['1,00-1,99',
  '1950',
  '1600',
  '1250',
  '700',
  '600',
  '1000',
  '650',
  '600',
  '450',
  '350',
  '550',
  '500',
  '450',
  '250',
  '180',
  '400',
  '350',
  '300',
  '200',
  '150',
  '300',
  '250',
  '200',
  '160',
  '130'],
 ['2,00-2,99',
  '2700',
  '2200',
  '1800',
  '1300',
  '1100',
  '1500',
  '1100',
  '950',
  '750',
  '650',
  '900',
  '850',
  '750',
  '550',
  '400',
  '750',
  '650',
  '550',
  '400',
  '350',
  '550',
  '500',
  '450',
  '300',
  '200']]

In [23]:
'''3,00-3,99
3500
2700
2300
1900
1600
2100
1600
1450
1200
1000
1350
1250
1100
800
600
1100
950
850
600
450
850
750
650
500
350'''

'3,00-3,99\n3500\n2700\n2300\n1900\n1600\n2100\n1600\n1450\n1200\n1000\n1350\n1250\n1100\n800\n600\n1100\n950\n850\n600\n450\n850\n750\n650\n500\n350'

In [24]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['0,10-0,24',
  '225',
  '210',
  '180',
  '145',
  '140',
  '160',
  '130',
  '120',
  '90',
  '80',
  '120',
  '110',
  '90',
  '50',
  '40',
  '80',
  '70',
  '60',
  '40',
  '30',
  '65',
  '55',
  '40',
  '30',
  '25'],
 ['0,25-0,49',
  '400',
  '320',
  '270',
  '225',
  '190',
  '240',
  '185',
  '175',
  '130',
  '110',
  '160',
  '145',
  '140',
  '70',
  '50',
  '120',
  '100',
  '90',
  '60',
  '40',
  '90',
  '80',
  '60',
  '45',
  '30'],
 ['0,50-0,99',
  '800',
  '580',
  '480',
  '320',
  '290',
  '385',
  '270',
  '260',
  '190',
  '160',
  '240',
  '225',
  '210',
  '150',
  '70',
  '180',
  '150',
  '140',
  '80',
  '50',
  '120',
  '110',
  '90',
  '65',
  '50'],
 ['1,00-1,99',
  '1950',
  '1600',
  '1250',
  '700',
  '600',
  '1000',
  '650',
  '600',
  '450',
  '350',
  '550',
  '500',
  '450',
  '250',
  '180',
  '400',
  '350',
  '300',
  '200',
  '150',
  '300',
  '250',
  '200',
  '160',
  '130'],
 ['2,00-2,99',
  '2700',
  '2200',
  '1800',
  '1300',
  '1100',
  '1500',
  '1100',
  '950',
  '750',
  '650',
  '900',
  '850',
  '750',
  '550',
  '400',
  '750',
  '650',
  '550',
  '400',
  '350',
  '550',
  '500',
  '450',
  '300',
  '200'],
 ['3,00-3,99',
  '3500',
  '2700',
  '2300',
  '1900',
  '1600',
  '2100',
  '1600',
  '1450',
  '1200',
  '1000',
  '1350',
  '1250',
  '1100',
  '800',
  '600',
  '1100',
  '950',
  '850',
  '600',
  '450',
  '850',
  '750',
  '650',
  '500',
  '350']]

In [25]:
'''4,00-4,99
5500
4500
3800
3000
2500
3500
2500
2200
1700
1500
2000
1800
1700
1300
950
1650
1500
1400
1000
750
1400
1200
1000
700
550'''

'4,00-4,99\n5500\n4500\n3800\n3000\n2500\n3500\n2500\n2200\n1700\n1500\n2000\n1800\n1700\n1300\n950\n1650\n1500\n1400\n1000\n750\n1400\n1200\n1000\n700\n550'

In [26]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['0,10-0,24',
  '225',
  '210',
  '180',
  '145',
  '140',
  '160',
  '130',
  '120',
  '90',
  '80',
  '120',
  '110',
  '90',
  '50',
  '40',
  '80',
  '70',
  '60',
  '40',
  '30',
  '65',
  '55',
  '40',
  '30',
  '25'],
 ['0,25-0,49',
  '400',
  '320',
  '270',
  '225',
  '190',
  '240',
  '185',
  '175',
  '130',
  '110',
  '160',
  '145',
  '140',
  '70',
  '50',
  '120',
  '100',
  '90',
  '60',
  '40',
  '90',
  '80',
  '60',
  '45',
  '30'],
 ['0,50-0,99',
  '800',
  '580',
  '480',
  '320',
  '290',
  '385',
  '270',
  '260',
  '190',
  '160',
  '240',
  '225',
  '210',
  '150',
  '70',
  '180',
  '150',
  '140',
  '80',
  '50',
  '120',
  '110',
  '90',
  '65',
  '50'],
 ['1,00-1,99',
  '1950',
  '1600',
  '1250',
  '700',
  '600',
  '1000',
  '650',
  '600',
  '450',
  '350',
  '550',
  '500',
  '450',
  '250',
  '180',
  '400',
  '350',
  '300',
  '200',
  '150',
  '300',
  '250',
  '200',
  '160',
  '130'],
 ['2,00-2,99',
  '2700',
  '2200',
  '1800',
  '1300',
  '1100',
  '1500',
  '1100',
  '950',
  '750',
  '650',
  '900',
  '850',
  '750',
  '550',
  '400',
  '750',
  '650',
  '550',
  '400',
  '350',
  '550',
  '500',
  '450',
  '300',
  '200'],
 ['3,00-3,99',
  '3500',
  '2700',
  '2300',
  '1900',
  '1600',
  '2100',
  '1600',
  '1450',
  '1200',
  '1000',
  '1350',
  '1250',
  '1100',
  '800',
  '600',
  '1100',
  '950',
  '850',
  '600',
  '450',
  '850',
  '750',
  '650',
  '500',
  '350'],
 ['4,00-4,99',
  '5500',
  '4500',
  '3800',
  '3000',
  '2500',
  '3500',
  '2500',
  '2200',
  '1700',
  '1500',
  '2000',
  '1800',
  '1700',
  '1300',
  '950',
  '1650',
  '1500',
  '1400',
  '1000',
  '750',
  '1400',
  '1200',
  '1000',
  '700',
  '550']]

In [30]:
df_nat = pd.DataFrame(tnat).T

In [32]:
df_nat.columns = df_nat.iloc[0]

In [33]:
df_nat

,ЧИСТОТЫ,"0,10-0,24","0,25-0,49","0,50-0,99","1,00-1,99","2,00-2,99","3,00-3,99","4,00-4,99"
0,ЧИСТОТЫ,"0,10-0,24","0,25-0,49","0,50-0,99","1,00-1,99","2,00-2,99","3,00-3,99","4,00-4,99"
1,1,225,400,800,1950,2700,3500,5500
2,2,210,320,580,1600,2200,2700,4500
3,3,180,270,480,1250,1800,2300,3800
4,4,145,225,320,700,1300,1900,3000
5,5,140,190,290,600,1100,1600,2500
6,1,160,240,385,1000,1500,2100,3500
7,2,130,185,270,650,1100,1600,2500
8,3,120,175,260,600,950,1450,2200
9,4,90,130,190,450,750,1200,1700
10,5,80,110,160,350,650,1000,1500
11,1,120,160,240,550,900,1350,2000
12,2,110,145,225,500,850,1250,1800
13,3,90,140,210,450,750,1100,1700
14,4,50,70,150,250,550,800,1300
15,5,40,50,70,180,400,600,950
16,1,80,120,180,400,750,1100,1650
17,2,70,100,150,350,650,950,1500
18,3,60,90,140,300,550,850,1400
19,4,40,60,80,200,400,600,1000
20,5,30,40,50,150,350,450,750
21,1,65,90,120,300,550,850,1400
22,2,55,80,110,250,500,750,1200
23,3,40,60,90,200,450,650,1000
24,4,30,45,65,160,300,500,700
25,5,25,30,50,130,200,350,550

In [34]:
_.to_excel("для прейск сапфир не обр фац из пдф.xlsx")