In [4]:
import pandas as pd

In [23]:
#"цвета ЧИСТОТЫ ДО 0,09 0,10-0,24
t = '''1 180 235
2 170 215
3 160 190
4 90 100
5 85 95
1 150 170
2 140 155
3 120 130
4 80 90
5 75 85
1 130 140
2 110 120
3 100 110
4 65 75
5 60 70
1 70 80
2 55 65
3 50 60
4 25 35
5 20 25
1 45 55
2 40 50
3 35 45
4 20 25
5 10 15
'''

In [24]:
df_pr_sap_t = pd.DataFrame(columns=['a'], data=t.split('\n'))

In [25]:
df_pr_sap_t

            a
0   1 180 235
1   2 170 215
2   3 160 190
3    4 90 100
4     5 85 95
5   1 150 170
6   2 140 155
7   3 120 130
8     4 80 90
9     5 75 85
10  1 130 140
11  2 110 120
12  3 100 110
13    4 65 75
14    5 60 70
15    1 70 80
16    2 55 65
17    3 50 60
18    4 25 35
19    5 20 25
20    1 45 55
21    2 40 50
22    3 35 45
23    4 20 25
24    5 10 15
25

In [26]:
df_pr_sap_t = df_pr_sap_t.iloc[:-1].copy(deep=True)

In [27]:
df_pr_sap_t['Группа чистоты'] = df_pr_sap_t.a.apply(lambda x: x.split()[0])

In [28]:
df_pr_sap_t['До 0,09'] = df_pr_sap_t.a.apply(lambda x: x.split()[1])

In [29]:
df_pr_sap_t['0.10-0,24'] = df_pr_sap_t.a.apply(lambda x: x.split()[2])

In [31]:
df_pr_sap_t.drop(columns=['a'], inplace=True)

In [32]:
#df_pr_sap_t.index = df_pr_sap_t['Группа чистоты']

In [33]:
df_pr_sap_t

   Группа чистоты До 0,09 0.10-0,24
0               1     180       235
1               2     170       215
2               3     160       190
3               4      90       100
4               5      85        95
5               1     150       170
6               2     140       155
7               3     120       130
8               4      80        90
9               5      75        85
10              1     130       140
11              2     110       120
12              3     100       110
13              4      65        75
14              5      60        70
15              1      70        80
16              2      55        65
17              3      50        60
18              4      25        35
19              5      20        25
20              1      45        55
21              2      40        50
22              3      35        45
23              4      20        25
24              5      10        15

# a2

In [34]:
#"0,25-0,49
t2 = '''300
265
225
125
110
200
180
150
115
100
163
140
130
95
90
100
85
80
50
30
75
70
65
30
25
'''

In [35]:
df_pr_sap_t2 = pd.DataFrame(columns=['a2'], data=t2.split('\n'))

In [36]:
df_pr_sap_t2

     a2
0   300
1   265
2   225
3   125
4   110
5   200
6   180
7   150
8   115
9   100
10  163
11  140
12  130
13   95
14   90
15  100
16   85
17   80
18   50
19   30
20   75
21   70
22   65
23   30
24   25
25

In [37]:
df_pr_sap_t2 = df_pr_sap_t2.iloc[:-1].copy(deep=True)

In [38]:
df_pr_sap_t2.rename(columns={'a2':'0.25-0.49'}, inplace=True)

In [39]:
df_pr_sap_t = pd.concat([df_pr_sap_t,df_pr_sap_t2], axis=1).copy(deep=True)

In [40]:
df_pr_sap_t

   Группа чистоты До 0,09 0.10-0,24 0.25-0.49
0               1     180       235       300
1               2     170       215       265
2               3     160       190       225
3               4      90       100       125
4               5      85        95       110
5               1     150       170       200
6               2     140       155       180
7               3     120       130       150
8               4      80        90       115
9               5      75        85       100
10              1     130       140       163
11              2     110       120       140
12              3     100       110       130
13              4      65        75        95
14              5      60        70        90
15              1      70        80       100
16              2      55        65        85
17              3      50        60        80
18              4      25        35        50
19              5      20        25        30
20              1      45        55        75
21              2      40        50        70
22              3      35        45        65
23              4      20        25        30
24              5      10        15        25

# a3

In [41]:
#"0,50-0,99
t3 = '''600
470
440
270
240
420
400
330
260
225
370
320
290
180
165
200
160
140
85
60
130
110
95
65
50
'''

In [42]:
df_pr_sap_t3 = pd.DataFrame(columns=['a3'], data=t3.split('\n'))

In [43]:
df_pr_sap_t3

     a3
0   600
1   470
2   440
3   270
4   240
5   420
6   400
7   330
8   260
9   225
10  370
11  320
12  290
13  180
14  165
15  200
16  160
17  140
18   85
19   60
20  130
21  110
22   95
23   65
24   50
25

In [44]:
df_pr_sap_t3 = df_pr_sap_t3.iloc[:-1].copy(deep=True)

In [45]:
df_pr_sap_t3.rename(columns={'a3':'0.50-0.99'}, inplace=True)

In [46]:
pd.concat([df_pr_sap_t,df_pr_sap_t3], axis=1)

   Группа чистоты До 0,09 0.10-0,24 0.25-0.49 0.50-0.99
0               1     180       235       300       600
1               2     170       215       265       470
2               3     160       190       225       440
3               4      90       100       125       270
4               5      85        95       110       240
5               1     150       170       200       420
6               2     140       155       180       400
7               3     120       130       150       330
8               4      80        90       115       260
9               5      75        85       100       225
10              1     130       140       163       370
11              2     110       120       140       320
12              3     100       110       130       290
13              4      65        75        95       180
14              5      60        70        90       165
15              1      70        80       100       200
16              2      55        65        85       160
17              3      50        60        80       140
18              4      25        35        50        85
19              5      20        25        30        60
20              1      45        55        75       130
21              2      40        50        70       110
22              3      35        45        65        95
23              4      20        25        30        65
24              5      10        15        25        50

In [47]:
df_pr_sap_t = _.copy(deep=True)

In [48]:
df_pr_sap_t

   Группа чистоты До 0,09 0.10-0,24 0.25-0.49 0.50-0.99
0               1     180       235       300       600
1               2     170       215       265       470
2               3     160       190       225       440
3               4      90       100       125       270
4               5      85        95       110       240
5               1     150       170       200       420
6               2     140       155       180       400
7               3     120       130       150       330
8               4      80        90       115       260
9               5      75        85       100       225
10              1     130       140       163       370
11              2     110       120       140       320
12              3     100       110       130       290
13              4      65        75        95       180
14              5      60        70        90       165
15              1      70        80       100       200
16              2      55        65        85       160
17              3      50        60        80       140
18              4      25        35        50        85
19              5      20        25        30        60
20              1      45        55        75       130
21              2      40        50        70       110
22              3      35        45        65        95
23              4      20        25        30        65
24              5      10        15        25        50

# a4

In [49]:
#"1,00-1,99 2,00-2,99 3,00-3,99 4,00-4,99
t4 = '''2100 3300 5000 6000
1800 2550 4500 5500
1300 1900 3500 4250
680 840 1600 2000
600 730 1400 1800
1150 1670 3000 3600
970 1440 2600 3100
880 1200 2000 2500
580 700 1350 1750
520 630 1100 1500
950 1400 2400 3000
800 1000 1800 2300
730 900 1650 2050
450 500 1000 1350
350 450 800 1100
440 560 1050 1440
370 450 850 1150
330 400 770 1000
200 280 460 650
150 220 320 450
300 380 700 970
230 320 600 880
215 280 515 710
115 190 250 400
95 150 200 350
'''

In [50]:
df_pr_sap_t4 = pd.DataFrame(columns=['a4'], data=t4.split('\n'))

In [51]:
df_pr_sap_t4

                     a4
0   2100 3300 5000 6000
1   1800 2550 4500 5500
2   1300 1900 3500 4250
3     680 840 1600 2000
4     600 730 1400 1800
5   1150 1670 3000 3600
6    970 1440 2600 3100
7    880 1200 2000 2500
8     580 700 1350 1750
9     520 630 1100 1500
10   950 1400 2400 3000
11   800 1000 1800 2300
12    730 900 1650 2050
13    450 500 1000 1350
14     350 450 800 1100
15    440 560 1050 1440
16     370 450 850 1150
17     330 400 770 1000
18      200 280 460 650
19      150 220 320 450
20      300 380 700 970
21      230 320 600 880
22      215 280 515 710
23      115 190 250 400
24       95 150 200 350
25

In [52]:
df_pr_sap_t4 = df_pr_sap_t4.iloc[:-1].copy(deep=True)

In [ ]:
1,00-1,99
2,00-2,99
3,00-3,99
4,00-4,99

In [53]:
df_pr_sap_t4['1,00-1,99'] = df_pr_sap_t4.a4.apply(lambda x: x.split()[0])

In [54]:
df_pr_sap_t4['2,00-2,99'] = df_pr_sap_t4.a4.apply(lambda x: x.split()[1])

In [55]:
df_pr_sap_t4['3,00-3,99'] = df_pr_sap_t4.a4.apply(lambda x: x.split()[2])

In [56]:
df_pr_sap_t4['4,00-4,99'] = df_pr_sap_t4.a4.apply(lambda x: x.split()[3])

In [57]:
df_pr_sap_t4.drop(columns=['a4'], inplace=True)

In [58]:
#df_pr_sap_t.index = df_pr_sap_t['Группа чистоты']

In [59]:
df_pr_sap_t4

   1,00-1,99 2,00-2,99 3,00-3,99 4,00-4,99
0       2100      3300      5000      6000
1       1800      2550      4500      5500
2       1300      1900      3500      4250
3        680       840      1600      2000
4        600       730      1400      1800
5       1150      1670      3000      3600
6        970      1440      2600      3100
7        880      1200      2000      2500
8        580       700      1350      1750
9        520       630      1100      1500
10       950      1400      2400      3000
11       800      1000      1800      2300
12       730       900      1650      2050
13       450       500      1000      1350
14       350       450       800      1100
15       440       560      1050      1440
16       370       450       850      1150
17       330       400       770      1000
18       200       280       460       650
19       150       220       320       450
20       300       380       700       970
21       230       320       600       880
22       215       280       515       710
23       115       190       250       400
24        95       150       200       350

In [61]:
pd.concat([df_pr_sap_t,df_pr_sap_t4], axis=1)

,Группа чистоты,"До 0,09","0.10-0,24",0.25-0.49,0.50-0.99,"1,00-1,99","2,00-2,99","3,00-3,99","4,00-4,99"
0,1,180,235,300,600,2100,3300,5000,6000
1,2,170,215,265,470,1800,2550,4500,5500
2,3,160,190,225,440,1300,1900,3500,4250
3,4,90,100,125,270,680,840,1600,2000
4,5,85,95,110,240,600,730,1400,1800
5,1,150,170,200,420,1150,1670,3000,3600
6,2,140,155,180,400,970,1440,2600,3100
7,3,120,130,150,330,880,1200,2000,2500
8,4,80,90,115,260,580,700,1350,1750
9,5,75,85,100,225,520,630,1100,1500
10,1,130,140,163,370,950,1400,2400,3000
11,2,110,120,140,320,800,1000,1800,2300
12,3,100,110,130,290,730,900,1650,2050
13,4,65,75,95,180,450,500,1000,1350
14,5,60,70,90,165,350,450,800,1100
15,1,70,80,100,200,440,560,1050,1440
16,2,55,65,85,160,370,450,850,1150
17,3,50,60,80,140,330,400,770,1000
18,4,25,35,50,85,200,280,460,650
19,5,20,25,30,60,150,220,320,450
20,1,45,55,75,130,300,380,700,970
21,2,40,50,70,110,230,320,600,880
22,3,35,45,65,95,215,280,515,710
23,4,20,25,30,65,115,190,250,400
24,5,10,15,25,50,95,150,200,350

In [62]:
df_pr_rub_t = _.copy(deep=True)

In [63]:
df_pr_rub_t

,Группа чистоты,"До 0,09","0.10-0,24",0.25-0.49,0.50-0.99,"1,00-1,99","2,00-2,99","3,00-3,99","4,00-4,99"
0,1,180,235,300,600,2100,3300,5000,6000
1,2,170,215,265,470,1800,2550,4500,5500
2,3,160,190,225,440,1300,1900,3500,4250
3,4,90,100,125,270,680,840,1600,2000
4,5,85,95,110,240,600,730,1400,1800
5,1,150,170,200,420,1150,1670,3000,3600
6,2,140,155,180,400,970,1440,2600,3100
7,3,120,130,150,330,880,1200,2000,2500
8,4,80,90,115,260,580,700,1350,1750
9,5,75,85,100,225,520,630,1100,1500
10,1,130,140,163,370,950,1400,2400,3000
11,2,110,120,140,320,800,1000,1800,2300
12,3,100,110,130,290,730,900,1650,2050
13,4,65,75,95,180,450,500,1000,1350
14,5,60,70,90,165,350,450,800,1100
15,1,70,80,100,200,440,560,1050,1440
16,2,55,65,85,160,370,450,850,1150
17,3,50,60,80,140,330,400,770,1000
18,4,25,35,50,85,200,280,460,650
19,5,20,25,30,60,150,220,320,450
20,1,45,55,75,130,300,380,700,970
21,2,40,50,70,110,230,320,600,880
22,3,35,45,65,95,215,280,515,710
23,4,20,25,30,65,115,190,250,400
24,5,10,15,25,50,95,150,200,350

In [64]:
_.to_excel('для прейск рубина термич фац из пдф.xlsx')

In [69]:
tnat=[]

In [70]:
'''ЧИСТОТЫ
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5'''

'ЧИСТОТЫ\n1\n2\n3\n4\n5\n1\n2\n3\n4\n5\n1\n2\n3\n4\n5\n1\n2\n3\n4\n5\n1\n2\n3\n4\n5'

In [71]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5']]

In [72]:
'''ДО 0,09
360
340
320
180
170
300
280
240
160
150
260
220
200
130
120
140
110
100
60
50
90
80
70
50
40'''

'ДО 0,09\n360\n340\n320\n180\n170\n300\n280\n240\n160\n150\n260\n220\n200\n130\n120\n140\n110\n100\n60\n50\n90\n80\n70\n50\n40'

In [73]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['ДО 0,09',
  '360',
  '340',
  '320',
  '180',
  '170',
  '300',
  '280',
  '240',
  '160',
  '150',
  '260',
  '220',
  '200',
  '130',
  '120',
  '140',
  '110',
  '100',
  '60',
  '50',
  '90',
  '80',
  '70',
  '50',
  '40']]

In [74]:
'''0,10-0,24
470
430
380
200
190
340
310
260
180
170
280
240
220
150
140
160
130
120
80
70
110
100
90
60
50'''

'0,10-0,24\n470\n430\n380\n200\n190\n340\n310\n260\n180\n170\n280\n240\n220\n150\n140\n160\n130\n120\n80\n70\n110\n100\n90\n60\n50'

In [75]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['ДО 0,09',
  '360',
  '340',
  '320',
  '180',
  '170',
  '300',
  '280',
  '240',
  '160',
  '150',
  '260',
  '220',
  '200',
  '130',
  '120',
  '140',
  '110',
  '100',
  '60',
  '50',
  '90',
  '80',
  '70',
  '50',
  '40'],
 ['0,10-0,24',
  '470',
  '430',
  '380',
  '200',
  '190',
  '340',
  '310',
  '260',
  '180',
  '170',
  '280',
  '240',
  '220',
  '150',
  '140',
  '160',
  '130',
  '120',
  '80',
  '70',
  '110',
  '100',
  '90',
  '60',
  '50']]

In [76]:
'''0,25-0,49
600
530
450
250
220
400
360
300
230
200
326
280
260
190
180
200
170
160
120
110
150
140
130
100
80'''

'0,25-0,49\n600\n530\n450\n250\n220\n400\n360\n300\n230\n200\n326\n280\n260\n190\n180\n200\n170\n160\n120\n110\n150\n140\n130\n100\n80\n'

In [77]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['ДО 0,09',
  '360',
  '340',
  '320',
  '180',
  '170',
  '300',
  '280',
  '240',
  '160',
  '150',
  '260',
  '220',
  '200',
  '130',
  '120',
  '140',
  '110',
  '100',
  '60',
  '50',
  '90',
  '80',
  '70',
  '50',
  '40'],
 ['0,10-0,24',
  '470',
  '430',
  '380',
  '200',
  '190',
  '340',
  '310',
  '260',
  '180',
  '170',
  '280',
  '240',
  '220',
  '150',
  '140',
  '160',
  '130',
  '120',
  '80',
  '70',
  '110',
  '100',
  '90',
  '60',
  '50'],
 ['0,25-0,49',
  '600',
  '530',
  '450',
  '250',
  '220',
  '400',
  '360',
  '300',
  '230',
  '200',
  '326',
  '280',
  '260',
  '190',
  '180',
  '200',
  '170',
  '160',
  '120',
  '110',
  '150',
  '140',
  '130',
  '100',
  '80',
  '']]

In [78]:
'''0,50-0,99
1200
940
880
540
480
840
800
660
520
450
740
640
580
360
330
400
320
280
170
160
260
220
190
140
100'''

'0,50-0,99\n1200\n940\n880\n540\n480\n840\n800\n660\n520\n450\n740\n640\n580\n360\n330\n400\n320\n280\n170\n160\n260\n220\n190\n140\n100'

In [79]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['ДО 0,09',
  '360',
  '340',
  '320',
  '180',
  '170',
  '300',
  '280',
  '240',
  '160',
  '150',
  '260',
  '220',
  '200',
  '130',
  '120',
  '140',
  '110',
  '100',
  '60',
  '50',
  '90',
  '80',
  '70',
  '50',
  '40'],
 ['0,10-0,24',
  '470',
  '430',
  '380',
  '200',
  '190',
  '340',
  '310',
  '260',
  '180',
  '170',
  '280',
  '240',
  '220',
  '150',
  '140',
  '160',
  '130',
  '120',
  '80',
  '70',
  '110',
  '100',
  '90',
  '60',
  '50'],
 ['0,25-0,49',
  '600',
  '530',
  '450',
  '250',
  '220',
  '400',
  '360',
  '300',
  '230',
  '200',
  '326',
  '280',
  '260',
  '190',
  '180',
  '200',
  '170',
  '160',
  '120',
  '110',
  '150',
  '140',
  '130',
  '100',
  '80',
  ''],
 ['0,50-0,99',
  '1200',
  '940',
  '880',
  '540',
  '480',
  '840',
  '800',
  '660',
  '520',
  '450',
  '740',
  '640',
  '580',
  '360',
  '330',
  '400',
  '320',
  '280',
  '170',
  '160',
  '260',
  '220',
  '190',
  '140',
  '100']]

In [80]:
'''1,00-1,99
4200
3600
2600
1360
1200
2300
1940
1760
1160
1040
1900
1600
1460
900
700
880
740
660
400
300
600
450
420
230
190'''

'1,00-1,99\n4200\n3600\n2600\n1360\n1200\n2300\n1940\n1760\n1160\n1040\n1900\n1600\n1460\n900\n700\n880\n740\n660\n400\n300\n600\n450\n420\n230\n190'

In [81]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['ДО 0,09',
  '360',
  '340',
  '320',
  '180',
  '170',
  '300',
  '280',
  '240',
  '160',
  '150',
  '260',
  '220',
  '200',
  '130',
  '120',
  '140',
  '110',
  '100',
  '60',
  '50',
  '90',
  '80',
  '70',
  '50',
  '40'],
 ['0,10-0,24',
  '470',
  '430',
  '380',
  '200',
  '190',
  '340',
  '310',
  '260',
  '180',
  '170',
  '280',
  '240',
  '220',
  '150',
  '140',
  '160',
  '130',
  '120',
  '80',
  '70',
  '110',
  '100',
  '90',
  '60',
  '50'],
 ['0,25-0,49',
  '600',
  '530',
  '450',
  '250',
  '220',
  '400',
  '360',
  '300',
  '230',
  '200',
  '326',
  '280',
  '260',
  '190',
  '180',
  '200',
  '170',
  '160',
  '120',
  '110',
  '150',
  '140',
  '130',
  '100',
  '80',
  ''],
 ['0,50-0,99',
  '1200',
  '940',
  '880',
  '540',
  '480',
  '840',
  '800',
  '660',
  '520',
  '450',
  '740',
  '640',
  '580',
  '360',
  '330',
  '400',
  '320',
  '280',
  '170',
  '160',
  '260',
  '220',
  '190',
  '140',
  '100'],
 ['1,00-1,99',
  '4200',
  '3600',
  '2600',
  '1360',
  '1200',
  '2300',
  '1940',
  '1760',
  '1160',
  '1040',
  '1900',
  '1600',
  '1460',
  '900',
  '700',
  '880',
  '740',
  '660',
  '400',
  '300',
  '600',
  '450',
  '420',
  '230',
  '190']]

In [82]:
'''2,00-2,99
6600
5100
3800
1680
1460
3340
2880
2400
1400
1260
2800
2000
1800
1000
900
1120
900
800
560
440
760
650
550
450
300'''

'2,00-2,99\n6600\n5100\n3800\n1680\n1460\n3340\n2880\n2400\n1400\n1260\n2800\n2000\n1800\n1000\n900\n1120\n900\n800\n560\n440\n760\n650\n550\n450\n300'

In [83]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['ДО 0,09',
  '360',
  '340',
  '320',
  '180',
  '170',
  '300',
  '280',
  '240',
  '160',
  '150',
  '260',
  '220',
  '200',
  '130',
  '120',
  '140',
  '110',
  '100',
  '60',
  '50',
  '90',
  '80',
  '70',
  '50',
  '40'],
 ['0,10-0,24',
  '470',
  '430',
  '380',
  '200',
  '190',
  '340',
  '310',
  '260',
  '180',
  '170',
  '280',
  '240',
  '220',
  '150',
  '140',
  '160',
  '130',
  '120',
  '80',
  '70',
  '110',
  '100',
  '90',
  '60',
  '50'],
 ['0,25-0,49',
  '600',
  '530',
  '450',
  '250',
  '220',
  '400',
  '360',
  '300',
  '230',
  '200',
  '326',
  '280',
  '260',
  '190',
  '180',
  '200',
  '170',
  '160',
  '120',
  '110',
  '150',
  '140',
  '130',
  '100',
  '80',
  ''],
 ['0,50-0,99',
  '1200',
  '940',
  '880',
  '540',
  '480',
  '840',
  '800',
  '660',
  '520',
  '450',
  '740',
  '640',
  '580',
  '360',
  '330',
  '400',
  '320',
  '280',
  '170',
  '160',
  '260',
  '220',
  '190',
  '140',
  '100'],
 ['1,00-1,99',
  '4200',
  '3600',
  '2600',
  '1360',
  '1200',
  '2300',
  '1940',
  '1760',
  '1160',
  '1040',
  '1900',
  '1600',
  '1460',
  '900',
  '700',
  '880',
  '740',
  '660',
  '400',
  '300',
  '600',
  '450',
  '420',
  '230',
  '190'],
 ['2,00-2,99',
  '6600',
  '5100',
  '3800',
  '1680',
  '1460',
  '3340',
  '2880',
  '2400',
  '1400',
  '1260',
  '2800',
  '2000',
  '1800',
  '1000',
  '900',
  '1120',
  '900',
  '800',
  '560',
  '440',
  '760',
  '650',
  '550',
  '450',
  '300']]

In [84]:
'''3,00-3,99
10000
9000
7000
3200
2800
6000
5200
4000
2300
2000
4800
3600
3000
2000
1600
2100
1700
1550
900
650
1400
1200
1000
650
500'''

'3,00-3,99\n10000\n9000\n7000\n3200\n2800\n6000\n5200\n4000\n2300\n2000\n4800\n3600\n3000\n2000\n1600\n2100\n1700\n1550\n900\n650\n1400\n1200\n1000\n650\n500'

In [85]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['ДО 0,09',
  '360',
  '340',
  '320',
  '180',
  '170',
  '300',
  '280',
  '240',
  '160',
  '150',
  '260',
  '220',
  '200',
  '130',
  '120',
  '140',
  '110',
  '100',
  '60',
  '50',
  '90',
  '80',
  '70',
  '50',
  '40'],
 ['0,10-0,24',
  '470',
  '430',
  '380',
  '200',
  '190',
  '340',
  '310',
  '260',
  '180',
  '170',
  '280',
  '240',
  '220',
  '150',
  '140',
  '160',
  '130',
  '120',
  '80',
  '70',
  '110',
  '100',
  '90',
  '60',
  '50'],
 ['0,25-0,49',
  '600',
  '530',
  '450',
  '250',
  '220',
  '400',
  '360',
  '300',
  '230',
  '200',
  '326',
  '280',
  '260',
  '190',
  '180',
  '200',
  '170',
  '160',
  '120',
  '110',
  '150',
  '140',
  '130',
  '100',
  '80',
  ''],
 ['0,50-0,99',
  '1200',
  '940',
  '880',
  '540',
  '480',
  '840',
  '800',
  '660',
  '520',
  '450',
  '740',
  '640',
  '580',
  '360',
  '330',
  '400',
  '320',
  '280',
  '170',
  '160',
  '260',
  '220',
  '190',
  '140',
  '100'],
 ['1,00-1,99',
  '4200',
  '3600',
  '2600',
  '1360',
  '1200',
  '2300',
  '1940',
  '1760',
  '1160',
  '1040',
  '1900',
  '1600',
  '1460',
  '900',
  '700',
  '880',
  '740',
  '660',
  '400',
  '300',
  '600',
  '450',
  '420',
  '230',
  '190'],
 ['2,00-2,99',
  '6600',
  '5100',
  '3800',
  '1680',
  '1460',
  '3340',
  '2880',
  '2400',
  '1400',
  '1260',
  '2800',
  '2000',
  '1800',
  '1000',
  '900',
  '1120',
  '900',
  '800',
  '560',
  '440',
  '760',
  '650',
  '550',
  '450',
  '300'],
 ['3,00-3,99',
  '10000',
  '9000',
  '7000',
  '3200',
  '2800',
  '6000',
  '5200',
  '4000',
  '2300',
  '2000',
  '4800',
  '3600',
  '3000',
  '2000',
  '1600',
  '2100',
  '1700',
  '1550',
  '900',
  '650',
  '1400',
  '1200',
  '1000',
  '650',
  '500']]

In [86]:
'''4,00-4,99
12000
11000
8500
4000
3600
7500
6500
5500
3500
2500
6000
4600
4100
3500
2200
2880
2300
2000
1300
950
1950
1750
1450
1100
800'''

'4,00-4,99\n12000\n11000\n8500\n4000\n3600\n7500\n6500\n5500\n3500\n2500\n6000\n4600\n4100\n3500\n2200\n2880\n2300\n2000\n1300\n950\n1950\n1750\n1450\n1100\n800'

In [87]:
tnat.append(_.split('\n'))
tnat

[['ЧИСТОТЫ',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5',
  '1',
  '2',
  '3',
  '4',
  '5'],
 ['ДО 0,09',
  '360',
  '340',
  '320',
  '180',
  '170',
  '300',
  '280',
  '240',
  '160',
  '150',
  '260',
  '220',
  '200',
  '130',
  '120',
  '140',
  '110',
  '100',
  '60',
  '50',
  '90',
  '80',
  '70',
  '50',
  '40'],
 ['0,10-0,24',
  '470',
  '430',
  '380',
  '200',
  '190',
  '340',
  '310',
  '260',
  '180',
  '170',
  '280',
  '240',
  '220',
  '150',
  '140',
  '160',
  '130',
  '120',
  '80',
  '70',
  '110',
  '100',
  '90',
  '60',
  '50'],
 ['0,25-0,49',
  '600',
  '530',
  '450',
  '250',
  '220',
  '400',
  '360',
  '300',
  '230',
  '200',
  '326',
  '280',
  '260',
  '190',
  '180',
  '200',
  '170',
  '160',
  '120',
  '110',
  '150',
  '140',
  '130',
  '100',
  '80',
  ''],
 ['0,50-0,99',
  '1200',
  '940',
  '880',
  '540',
  '480',
  '840',
  '800',
  '660',
  '520',
  '450',
  '740',
  '640',
  '580',
  '360',
  '330',
  '400',
  '320',
  '280',
  '170',
  '160',
  '260',
  '220',
  '190',
  '140',
  '100'],
 ['1,00-1,99',
  '4200',
  '3600',
  '2600',
  '1360',
  '1200',
  '2300',
  '1940',
  '1760',
  '1160',
  '1040',
  '1900',
  '1600',
  '1460',
  '900',
  '700',
  '880',
  '740',
  '660',
  '400',
  '300',
  '600',
  '450',
  '420',
  '230',
  '190'],
 ['2,00-2,99',
  '6600',
  '5100',
  '3800',
  '1680',
  '1460',
  '3340',
  '2880',
  '2400',
  '1400',
  '1260',
  '2800',
  '2000',
  '1800',
  '1000',
  '900',
  '1120',
  '900',
  '800',
  '560',
  '440',
  '760',
  '650',
  '550',
  '450',
  '300'],
 ['3,00-3,99',
  '10000',
  '9000',
  '7000',
  '3200',
  '2800',
  '6000',
  '5200',
  '4000',
  '2300',
  '2000',
  '4800',
  '3600',
  '3000',
  '2000',
  '1600',
  '2100',
  '1700',
  '1550',
  '900',
  '650',
  '1400',
  '1200',
  '1000',
  '650',
  '500'],
 ['4,00-4,99',
  '12000',
  '11000',
  '8500',
  '4000',
  '3600',
  '7500',
  '6500',
  '5500',
  '3500',
  '2500',
  '6000',
  '4600',
  '4100',
  '3500',
  '2200',
  '2880',
  '2300',
  '2000',
  '1300',
  '950',
  '1950',
  '1750',
  '1450',
  '1100',
  '800']]

In [88]:
df_nat = pd.DataFrame(tnat).T

In [89]:
df_nat.columns = df_nat.iloc[0]

In [90]:
df_nat

,ЧИСТОТЫ,"ДО 0,09","0,10-0,24","0,25-0,49","0,50-0,99","1,00-1,99","2,00-2,99","3,00-3,99","4,00-4,99"
0,ЧИСТОТЫ,"ДО 0,09","0,10-0,24","0,25-0,49","0,50-0,99","1,00-1,99","2,00-2,99","3,00-3,99","4,00-4,99"
1,1,360,470,600,1200,4200,6600,10000,12000
2,2,340,430,530,940,3600,5100,9000,11000
3,3,320,380,450,880,2600,3800,7000,8500
4,4,180,200,250,540,1360,1680,3200,4000
5,5,170,190,220,480,1200,1460,2800,3600
6,1,300,340,400,840,2300,3340,6000,7500
7,2,280,310,360,800,1940,2880,5200,6500
8,3,240,260,300,660,1760,2400,4000,5500
9,4,160,180,230,520,1160,1400,2300,3500
10,5,150,170,200,450,1040,1260,2000,2500
11,1,260,280,326,740,1900,2800,4800,6000
12,2,220,240,280,640,1600,2000,3600,4600
13,3,200,220,260,580,1460,1800,3000,4100
14,4,130,150,190,360,900,1000,2000,3500
15,5,120,140,180,330,700,900,1600,2200
16,1,140,160,200,400,880,1120,2100,2880
17,2,110,130,170,320,740,900,1700,2300
18,3,100,120,160,280,660,800,1550,2000
19,4,60,80,120,170,400,560,900,1300
20,5,50,70,110,160,300,440,650,950
21,1,90,110,150,260,600,760,1400,1950
22,2,80,100,140,220,450,650,1200,1750
23,3,70,90,130,190,420,550,1000,1450
24,4,50,60,100,140,230,450,650,1100
25,5,40,50,80,100,190,300,500,800
26,None,None,None,,None,None,None,None,None

In [91]:
df_nat.iloc[:-1]

,ЧИСТОТЫ,"ДО 0,09","0,10-0,24","0,25-0,49","0,50-0,99","1,00-1,99","2,00-2,99","3,00-3,99","4,00-4,99"
0,ЧИСТОТЫ,"ДО 0,09","0,10-0,24","0,25-0,49","0,50-0,99","1,00-1,99","2,00-2,99","3,00-3,99","4,00-4,99"
1,1,360,470,600,1200,4200,6600,10000,12000
2,2,340,430,530,940,3600,5100,9000,11000
3,3,320,380,450,880,2600,3800,7000,8500
4,4,180,200,250,540,1360,1680,3200,4000
5,5,170,190,220,480,1200,1460,2800,3600
6,1,300,340,400,840,2300,3340,6000,7500
7,2,280,310,360,800,1940,2880,5200,6500
8,3,240,260,300,660,1760,2400,4000,5500
9,4,160,180,230,520,1160,1400,2300,3500
10,5,150,170,200,450,1040,1260,2000,2500
11,1,260,280,326,740,1900,2800,4800,6000
12,2,220,240,280,640,1600,2000,3600,4600
13,3,200,220,260,580,1460,1800,3000,4100
14,4,130,150,190,360,900,1000,2000,3500
15,5,120,140,180,330,700,900,1600,2200
16,1,140,160,200,400,880,1120,2100,2880
17,2,110,130,170,320,740,900,1700,2300
18,3,100,120,160,280,660,800,1550,2000
19,4,60,80,120,170,400,560,900,1300
20,5,50,70,110,160,300,440,650,950
21,1,90,110,150,260,600,760,1400,1950
22,2,80,100,140,220,450,650,1200,1750
23,3,70,90,130,190,420,550,1000,1450
24,4,50,60,100,140,230,450,650,1100
25,5,40,50,80,100,190,300,500,800

In [92]:
_.to_excel("для прейск руб не обр фац из пдф.xlsx")