In [1]:
import numpy as np
import pandas as pd
import re
import os

In [3]:
carat_to_grp = pd.read_excel("D:/TNA/CARtoKVG.xlsx", sheet_name= 3).iloc[:,0:3]
carat_to_grp.columns = ['grp','caratmin','caratmax']

In [4]:
carat_to_grp

             grp  caratmin  caratmax
0        400-200   0.00010   0.00499
1        200-120   0.00499   0.00799
2         120-90   0.00799   0.00999
3          90-60   0.00999   0.01499
4          60-40   0.01499   0.02499
..           ...       ...       ...
202  46.00-46.24  46.00000  46.24999
203  46.25-46.49  46.25000  46.49999
204  46.50-46.74  46.50000  46.74999
205  46.75-46.99  46.75000  46.99999
206  60.00-69.99  60.00000  69.99999

[207 rows x 3 columns]